body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto-slab: "Roboto Slab";
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-109xl: 128px;
  --font-size-13xl: 32px;
  --font-size-32xl: 51px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-19xl: 38px;
  --font-size-11xl: 30px;
  --font-size-4xl: 23px;
  --font-size-63xl: 82px;
  --font-size-22xl: 41px;
  --font-size-6xl: 25px;

  /* Colors */
  --color-gray-100: #242424;
  --color-white: #fff;
  --color-midnightblue-100: #260e49;

  /* Gaps */
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-xl: 20px;
  --gap-1010xl: 1029px;
  --gap-238xl: 257px;
  --gap-495xl: 514px;
  --gap-43xl: 62px;
  --gap-105xl: 124px;
  --gap-40xl: 59px;
  --gap-16xl: 35px;
  --gap-21xl: 40px;
  --gap-mini: 15px;
  --gap-lgi: 19px;
  --gap-22xl: 41px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-11xl: 30px;
  --padding-mini-5: 14.5px;
  --padding-76xl: 95px;
  --padding-43xl: 62px;
  --padding-12xl: 31px;
  --padding-442xl: 461px;
  --padding-211xl: 230px;
  --padding-23xl: 42px;
  --padding-123xl: 142px;
  --padding-52xl: 71px;
  --padding-base: 16px;
  --padding-624xl: 643px;
  --padding-141xl: 160px;
  --padding-302xl: 321px;
  --padding-12xs: 1px;
  --padding-7xl: 26px;
  --padding-64xl-5: 83.5px;
  --padding-35xl: 54px;

  /* Border radiuses */
  --br-11xl: 30px;
}
